@inherits LayoutComponentBase
<MApp>
    <MNavigationDrawer App Permanent ExpandOnHover @bind-MiniVariant="_mini">
        <div class="d-flex flex-column" style="height: inherit">
            <MList Nav Routable Dense>
                <MListItem Href="/" ActiveClass="primary--text">

                    <MListItemContent>
                        <MListItemTitle>AdsSymbolSelect</MListItemTitle>
                    </MListItemContent>
                </MListItem>
            </MList>
            <MList Nav Routable Dense Class="mt-auto">
                <MListItem Href="/setting" ActiveClass="primary--text">
                    <MListItemContent>
                        <MListItemTitle>Setting</MListItemTitle>
                    </MListItemContent>
                </MListItem>
            </MList>
        </div>

    </MNavigationDrawer>
    <MMain>
        <MContainer Fluid>
            <MErrorHandler>
                @Body
            </MErrorHandler>
        </MContainer>
    </MMain>
</MApp>

@code {
    private bool _mini = true;
}