@inherits LayoutComponentBase
<MApp>
    <MNavigationDrawer App Permanent Width="80">
        <div class="d-flex flex-column" style="height: inherit">
            <MList Nav Routable Dense>
                <MListItem Href="/" ActiveClass="primary--text">
                    <MListItemContent>
                        <MListItemIcon>
                            <MIcon>fas fa-database</MIcon>
                        </MListItemIcon>
                        <MListItemSubtitle>Log</MListItemSubtitle>
                    </MListItemContent>
                </MListItem>
                <MListItem Href="/AdsDataLog" ActiveClass="primary--text">
                    <MListItemContent>
                        <MListItemIcon>
                            <MIcon>fas fa-database</MIcon>
                        </MListItemIcon>
                        <MListItemSubtitle>Log1</MListItemSubtitle>
                    </MListItemContent>
                </MListItem>
            </MList>
            <MList Nav Routable Dense Class="mt-auto">
                <MListItem Href="/setting" ActiveClass="primary--text">
                    <MListItemContent>
                        <MListItemIcon>
                            <MIcon>fas fa-cog</MIcon>
                        </MListItemIcon>
                        <MListItemTitle>设置</MListItemTitle>
                    </MListItemContent>
                </MListItem>
            </MList>
        </div>

    </MNavigationDrawer>
    <MMain>
        <MContainer Fluid Style="height:100%">
            <MErrorHandler>
                @Body
            </MErrorHandler>
        </MContainer>
    </MMain>
</MApp>

@code {

}